<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
    <ul class="am-slides">
    {foreach $slide as $vo}
        <li>
            <img src="{$vo.img_path}" style="width:100%; height:500px">
            <div class="blog-slider-desc am-slider-desc">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="{:url('index/index','author_id='.$vo.user.id)}" class="blog-color">{$vo.user.nick} &nbsp;</a></span>               
                    <h1 class="blog-h-margin" style=" white-space:nowrap;overflow:hidden;text-overflow: ellipsis;"><a href="{:url('article/article', 'article_id='.$vo.id)}">{$vo.title}</a></h1>
                    <p style="overflow: hidden;height:4rem;">{$vo.subtitle}</p>
                    <span class="blog-bor">{$vo.time}</span>
                    <br><br><br><br><br><br><br>                
                </div>
            </div>
         </li>
    {/foreach}
    </ul>
    </div>
</div>
<!-- banner end