
  <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>博客简介</h3>
            <p class="am-text-sm">这是第一次自己写需求,并利用TP5框架实现需求的项目。<br><br> 
            利用了amazeUI的页面模板和H-ui.admin的后台模板<br>完成这个博客的搭建,对我来说意义重大<br><br>
            即使走了无数的弯路,我也坚信<br>只要努力&nbsp;就有机会成功
            <br></p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href="https://jq.qq.com/?_wv=1027&k=5DxIZjq"><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href="https://gitee.com/kogawaLib"><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href="http://weibo.com/PHPaki"><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href="#"><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href="#"><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>Saying</h3>
            <p>Come alive,Come alive<br>Go and ride your light,Let it burn so bright</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>在此感谢</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>jQuery</li>
                    <li>ThinkPHP 5.0.13</li>
                    <li>MySQL5.7</li>
                    <li>PHP7.1.13</li>
                    <li>...</li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© AllMobilize, Inc. Licensed under MIT license.</div>  </footer>
