<div class="am-u-md-4 am-u-sm-12 blog-sidebar">

        <!-- 个人简介 -->
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="__STATIC__/home/assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
            <p>妹纸</p>
            <p>
        我是妹子UI，中国首个开源 HTML5 跨屏前端框架
        </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <!-- 关联链接 -->
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <!-- 栏目列表 -->
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Hot Category</span></h2>
            <ul class="am-list">
                {foreach $cat as $vo}
                <li><a href="{:url('home/index/index','cat_id='.$vo.id)}">{$vo.name}&nbsp;&nbsp;({$vo.num})</a></li>
                {/foreach}
            </ul>
        </div>
        <!-- 标签列表 -->
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
            {foreach $tag as $vo}
            <a href="{:url('home/index/index','tag_id='.$vo.id)}" class="blog-tag">{$vo.name}</a>
            {/foreach}
            </div>
        </div>
        <!-- 最新评论 -->
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Lastest Comment</span></h2>
            <ul class="am-list">
                {foreach $comment as $vo}
                <li><a href="{:url('article/article','article_id='.$vo.article_id)}">{$vo.content}</a></li>
                {/foreach}
            </ul>
        </div>

    </div>