{extend name="public/base" /}
{block name="banner"}
{notempty name="type"}
    {include file="public/banner" /}
{/notempty}
{/block}
{block name="content"}
        <h2 class="blog-text-left blog-title" style="margin-top: 20px;"><span>{$topTitle|default='所有文章'}</span></h2>
        {notempty name="list"}
        {foreach $list as $vo}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="{$vo.thumb_path}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="{:url('index/index','cat_id='.$vo.category.id)}" class="blog-color">{$vo.category.name} &nbsp;</a></span>
                <span><a href="{:url('index/index','author_id='.$vo.user.id)}"> {$vo.user.nick} &nbsp;</a></span>
                <span>{$vo.create_time}</span>
                <h1><a href="{:url('article/article', 'article_id='.$vo.id)}">{$vo.title}</a></h1>
                <p>{$vo.subtitle}</p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        {/foreach}
        <!-- 页码区域 -->
        {$list->render()}
        {else /}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                暂时没有文章
            </div>
        </article>
        {/notempty}
{/block}
{block name="js"}{block}