{extend name="public/base" /}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}
{block name="header"}{/block}

{block name="menu"}{/block}
{block name="content"}
<article class="cl pd-20">
	<form action="" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>栏目名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="名称长度为2-10" id="name" name="name">
				<span class="inputtip" status="0"></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">栏目从属：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="parent_id" size="1">
					{foreach $select_list as $vo}
					<option value="{$vo.id}">{$vo.name}</option>
					{/foreach}
					<option value="0">设置为主栏目</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">是否开启：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="status" size="1">
					<option value="1" selected>开启</option>
					<option value="0">关闭</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input id="submit" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script>
$(function() {
	$('form').validate({
		rules: {
			name: {
				required: true,
				minlength: 2,
				maxlength: 10,
			},
		},
		messages: {
			name: {
				required: "请输入栏目名称",
				minlength: "最小长度为2",
				maxlength: "最大长度为10",
			}
		},
		onkeyup: false,//避免空格,回车等产生验证
		focusCleanup:false,
        focusInvalid:true,
		submitHandler: function(form) {
			$.ajax({
				type: "POST",
				data: $(form).serialize(),
				url: "{:url('category/categoryAddExecu')}",
				success: function(res) {
                    if (res === 1) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.location.reload();
                        parent.layer.msg('文章添加成功!',{icon:1,time:1500});
                        parent.layer.close(index);
                    } else {
                        layer.msg(res ,{icon:5,time:2000});
                    }
					// console.log(res);
				}
			});
		}

	});
});


</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}