{extend name="public/base" /}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}
{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		栏目管理
		<span class="c-gray en">&gt;</span>
		栏目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> 
					<a href="{:url('category/categoryList', "type=0")}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe625;</i> 显示全部</a> 
					<a href="{:url('category/categoryList', "type=1")}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6ae;</i> 显示一级栏目</a> 
					<a href="{:url('category/categoryList', "type=2")}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6af;</i> 显示二级栏目</a> 
					<a href="javascript:;" onclick="category_add('添加栏目','{:url("category/categoryadd")}','500','300')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加栏目</a> 
				</span>
				<span class="r">共有数据：<strong>{$count|default='0'}</strong> 条</span>
			</div>

			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">员工列表</th>
					</tr>
					<tr class="text-c">
						<!-- <th width="25"><input id="selectPage" onclick="selectPage()" type="checkbox" name="" value=""></th> -->
						<th width="150">栏目名称</th>
						<th width="150">文章数量</th>
						<th width="90">栏目创建时间</th>
						<th width="90">栏目级别</th>
						<th width="100">是否开启</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{foreach $catList as $vo}
					<tr class="text-c">
						<!-- <td><input type="checkbox" id="{$vo.id}" value="" name=""></td> -->
						{if condition="$vo.tab eq 0"}
						<td style="text-align: left;color:green; font-weight: bold;">{$vo.tabName}</td>
						{else /}
						<td style="text-align: left;">{$vo.tabName}</td>
						{/if}
						<td>{$vo.num}</td>
						<td>{$vo.create_time}</td>
						<td>{$vo.tab + 1}</td>
						<!-- 用于判断栏目状态是关闭还是开放 -->
						{switch name = $vo.status}
							{case value='1'}
							<td class="td-status">
								<span class="label label-success radius">开放</span>
							</td>
							<td class="td-manage">
							{if condition="$vo.tab neq 0"}
							<a onClick="category_stop(this,{$vo.id})" href="javascript:;" title="关闭"><i class="Hui-iconfont">&#xe631;</i></a>
							{/if}
							{/case}
							{case value='0'}
							<td class="td-status">
							<span class="label label-default radius">关闭</span>
							</td>
							<td class="td-manage">
							{if condition="$vo.tab neq 0"}
							<a onClick="category_start(this,{$vo.id})" href="javascript:;" title="开放" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>
							{/if}
							{/case}
							{default /}
						{/switch}
							<a title="编辑" href="javascript:;" onclick="category_edit('栏目编辑','{:url("category/categoryEdit", "id=".$vo.id)}','500','300')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
							<a title="删除" href="javascript:;" onclick="category_del(this, {$vo.id}, {$vo.num})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>	
					</tr>
					{/foreach}
				</tbody>
			</table>
		</article>
	</div>
	
</section>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript">

/*
	参数解释：
	title	标题
	url		请求的url
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
//栏目-增加
function category_add(title,url,w,h) {
	layer_show(title,url,w,h);
}

//栏目-编辑
function category_edit(title,url,w,h) {
	layer_show(title,url,w,h);
}

//栏目-删除,obj为选择对象,id为该栏目的id,num为该栏目的文章数量
function category_del(obj,id,num) {
	layer.confirm('确认要删除吗？',function(index) {
		$.ajax({
			type:'GET',
			url:"{:url('category/categoryDelete')}",
			data:{id:id,num:num},
			success: function(status) {
				if (status == 1) {
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				} else {
					layer.msg(status, {icon:5,time:3000});
				}
				// console.log(status);
			}
		});
		
	});
}

//栏目-停用
function category_stop(obj,id) {
	layer.confirm('确认要停用吗？停用后,该栏目的文章不会在前台上显示。',function(index) {
		//Ajax提交数据
		var url = "{:url('category/categoryChangeStatus')}";
		$.get(url, {id:id}, function(res) {
			// console.log(res);
			if (res === true) {
				$(obj).parents("tr").find(".td-manage").prepend('<a onClick="category_start(this,' + id + ')" href="javascript:;" title="开放" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">关闭</span>');
				$(obj).remove();
				layer.msg('关闭!',{icon: 5,time:1000});
			} else {
				layer.msg(res, {icon: 6,time:1000});
			}
		});
	});
}

//栏目-启用
function category_start(obj,id) {
	layer.confirm('确认要启用吗？启用后,该栏目的文章会在前台上显示。',function(index) {
		//Ajax提交数据
		var url = "{:url('category/categoryChangeStatus')}";
		$.get(url, {id:id}, function(res) {
			// console.log(res);
			if (res === true) {
				$(obj).parents("tr").find(".td-manage").prepend('<a onClick="category_stop(this,' + id + ')" href="javascript:;" title="关闭" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">开放</span>');
				$(obj).remove();
				layer.msg('开放!', {icon: 6,time:1000});
			} else {
				layer.msg(res, {icon: 6,time:1000});
			}
		});
	});
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
{/block}
