<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('article/articlelist')}" title="文章管理">文章列表</a></li>
                    <li><a href="{:url('comment/commentlist')}" title="评论管理">评论列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-category">
            <dt><i class="Hui-iconfont">&#xe613;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('category/categorylist')}" title="教师管理">栏目列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('user/adminlist')}" title="管理员管理">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-infomation">
            <dt><i class="Hui-iconfont">&#xe613;</i> 博客信息修改<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('infomation/commentlist')}" title="个人信息">页面个人信息</a></li>
                    <li><a href="{:url('infomation/commentlist')}" title="滑动图片">滑动图片设置</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->