{extend name="public/base" /}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}
{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	
	<div class="Hui-article">
		<article class="cl pd-20">
			<!-- 超级管理员才有管理功能 -->
			{if condition="$Request.session.user_info.role" == '超级管理员'}
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> 
					<a href="javascript:;" onclick="select_delete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
					<a href="javascript:;" onclick="restore()" class="btn btn-danger radius" style="background:#49BF32; border:#49BF32;"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复</a>
					<a href="javascript:;" onclick="admin_add('添加管理员','{:url("user/adminadd")}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> 
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
			{/if}
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">员工列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input id="selectPage" onclick="selectPage()" type="checkbox" name="" value=""></th>
						<th width="40">ID</th>
						<th width="150">登录名</th>
						<th width="150">邮箱</th>
						<th width="90">角色</th>
						<th width="90">登录次数</th>
						<th width="130">加入时间</th>
						<th width="100">是否已启用</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					{foreach $list as $vo}
					<tr class="text-c">
						<td>
							<!-- 排除admin勾选框 -->
							{if condition="($vo.name != 'admin')"}
							<input type="checkbox" id="{$vo.id}" value="" name="">
							{/if} 
						</td>
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.email}</td>
						<td>{$vo.role}</td>
						<td>{$vo.login_count}</td>
						<td>{$vo.create_time}</td>
						<!-- 用于判断管理员状态是禁止还是启用 -->
						{switch name = $vo.status}
							{case value = '1'}
							<td class="td-status">
								<span class="label label-success radius">已启用</span>
							</td>
							<td class="td-manage">
							<!-- amdin不可删除 -->
							{if condition="($vo.name != 'admin')"}
							<a onClick="admin_stop(this,{$vo.id})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
							{/if} 
							{/case}

							{case value = '0'}
							<td class="td-status">
							<span class="label label-default radius">已禁用</span>
							</td>
							<td class="td-manage">
							<!-- amdin不可删除 -->
							{if condition="($vo.name != 'admin')"}
							<a onClick="admin_start(this,{$vo.id})" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>
							{/if} 
							{/case}

							{default /}
						{/switch}
						<!-- admin不能被他人编辑 -->
						{if condition="($vo.name != 'admin')"}
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url("user/adminEdit",["id"=>$vo.id])}', '800', '500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
						<!-- 如果验证是admin登录,则可编辑 -->
						{elseif condition="($Request.session.user_info.name == 'admin')"}
							<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url("user/adminEdit",["id"=>$vo.id])}', '800', '500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
						{/if}
						<!-- amdin不可删除 -->
						{if condition="($vo.name != 'admin')"}
							<a title="删除" href="javascript:;" onclick="admin_del(this, {$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						{/if}
						</td>	
					</tr>
					{/foreach}
					{if condition="($Request.session.user_info.role == '超级管理员')"}
					<tr class="page">
						<td scope="col" colspan="9" style="text-align: right;">{$list->render()}</th>
					</tr>
					{/if}
				</tbody>
			</table>
		</article>
	</div>
	
</section>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript">

//页面全选
function selectPage() {
	if ($('#selectPage').prop('checked') == true){
		$('input:checkbox').prop('checked', true);
	} else {
		$('input:checkbox').prop('checked', false);
	}
}
//批量删除
function select_delete() {
	var data = {};
	var i = 0;
	//选中所有选中的框
	var box = $('input:checkbox:not([id=selectPage])');
	box.each(function() {
		if ($(this).prop('checked') == true) {
			data['key' + i] = $(this).attr('id');
			i++;
		}
	});
	if (data['key0'] == null) {
		return false;
	} else {
		$.ajax({
			type:"GET",
			url:"{:url('adminDelete')}",
			data:data,
			success(status) {
				//要避免整页全选删除后,跳入变量未定义页面
				if (status > 0 && status != box.length) {
					window.location.href = window.location.href; 
					layer.msg('已删除!',{icon:1,time:1000});
				} else if (status == box.length) {
					window.location.href = "{:url('user/adminlist')}";
					layer.msg('已删除!',{icon:1,time:1000});
					console.log('整页删除');
				} else {
					layer.msg('删除失败',{icon:1,time:1000});
				}
			}
		});
	}
}

//恢复删除
function restore() {
	layer.confirm('确认要恢复吗？',function(index) {
		$.ajax({
			type:'GET',
			url:"{:url('user/adminrestore')}",
			success(status) {
				layer.msg(status + '条恢复成功',{icon:1.5,time:1000});
				//其实这不算静态更新了,静态更新应该通过返回值生成html标签,然后
				window.location.href = window.location.href; 
			}
		});
	});
}

/*
	参数解释：
	title	标题
	url		请求的url
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h) {
	layer_show(title,url,w,h);
}

/*管理员-编辑*/
function admin_edit(title,url,w,h) {
	layer_show(title,url,w,h);
}

/*管理员-删除*/
function admin_del(obj,id) {
	layer.confirm('确认要删除吗？',function(index) {
		$.ajax({
			type:'GET',
			url:"{:url('user/admindelete')}",
			data:{id:id},
			success(status) {
				if (status == 1) {
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				} else {
					layer.msg('未知原因,删除失败!',{icon:5,time:1000});
				}
			}
		});
		
	});
}

/*管理员-停用*/
function admin_stop(obj,id) {
	layer.confirm('确认要停用吗？',function(index) {
		//Ajax提交数据
		var url = "{:url('user/adminStop')}";
		$.get(url, {id:id});
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,{$vo.id})" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id) {
	layer.confirm('确认要启用吗？',function(index) {
		//Ajax提交数据
		var url = "{:url('user/adminStart')}";
		$.get(url, {id:id});
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,{$vo.id})" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
{/block}
