{extend name="public/base" /}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}
{block name="header"}{/block}

{block name="menu"}{/block}
{block name="content"}
<article class="cl pd-20">
	<form action="" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{if condition="($res.role eq 4)"}
				<input type="text" class="input-text" readonly="readonly" value="{$res.name}" placeholder="" id="name" name="name">
				{else /}
				<input type="text" class="input-text" value="{$res.name}" placeholder="" id="name" name="name">
				{/if}
				<span class="inputtip" status="1"></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="{$res.password}" placeholder="密码" id="password" name="password">
				<span class="inputtip" status="1"></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="repassword" name="repassword" value="{$res.password}">
				<span class="inputtip" status="1"></span>
			</div>
		</div>
		<!-- admin不可停用 -->
		{if condition="($res.name != 'admin')"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">是否启用：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:60px;">
				<select class="select" name="status" size="1">
					{switch name=$res.status}
						{case value='1'}
						<option value="1" selected>是</option>
						<option value="0">否</option>
						{/case}
						{default /}
						<option value="1">是</option>
						<option value="0" selected>否</option>
					{/switch}
				</select>
				</span> </div>
		</div>
		{/if}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$res.email}">
				<span class="inputtip" status="1"></span>
			</div>
		</div>
		<!-- 不可编辑个人身份 -->
		{if condition="($res.id neq $Request.session.user_id)"}
		<!-- 只有管理员以上才能够编辑身份 -->
		{if condition="($Request.session.user_info.role_num eq 4)"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box" style="width:150px;">
					<select class="select" name="role" size="1">
						{switch name=$res.role}
							{case value='3'}
							<option value="3" selected>管理员</option>
							<option value="2">高级用户</option>
							<option value="1">普通用户</option>
							{/case}
							{case value='2'}
							<option value="3">管理员</option>
							<option value="2" selected>高级用户</option>
							<option value="1">普通用户</option>
							{/case}
							{case value='1'}
							<option value="3">管理员</option>
							<option value="2">高级用户</option>
							<option value="1" selected>普通用户</option>
							{/case}
						{/switch}
					</select>
				</span> 
			</div>
		</div>
		{elseif condition="($Request.session.user_info.role_num eq 3)" /}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box" style="width:150px;">
					<select class="select" name="role" size="1">
						{switch name=$res.role}
							{case value='2'}
							<option value="2" selected>高级用户</option>
							<option value="1">普通用户</option>
							{/case}
							{case value='1'}
							<option value="2">高级用户</option>
							<option value="1" selected>普通用户</option>
							{/case}
						{/switch}
					</select>
				</span> 
			</div>
		</div>
		{/if}
		{/if}
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input id="submit" class="btn btn-primary radius disabled" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script>
	//用户未修改内容,不允许提交
	$('form').children().change(function(){
		$('#submit').removeClass('disabled');
	});

	//验证各个输入框字段是否合法
	$('form input').each(function(i, obj) {
		$(obj).blur(function() {
			var tag = $(obj).attr('id');
			var url = "{:url('user/check','','')}" + tag + '.html';
			var data = {};
			if (tag == 'repassword') {
				data['password'] = $('#password').val();
			}
			data[tag] = $(obj).val();
			//需要提供id来排除验证自身
			data['id'] = {$res.id};
			$.ajax({
				type:"GET",
				url:url ,
				data:data,
				success(res) {
					if (res.status == 0) {
						//如果不合法,提示
						$(obj).next().html(res.message);
						$(obj).next().css('color', 'red');
						$(obj).css('border', '1px solid red');
						$(obj).next().attr('status', 0);
						$('#submit').addClass('disabled');
					} else {
						$(obj).next().html('修改OK');
						$(obj).next().css('color', 'green');
						$(obj).css('border', '1px solid rgb(221, 221, 221)');
						$(obj).next().attr('status', 1);
						//允许尝试提交
						$('#submit').removeClass('disabled');
					}
				}
			});
		});
	});
	//消除提交框的事件绑定
	$('form input:last').unbind();

	//提交后台修改数据库
	$('form').submit(function() {
		var judge = 0;

		//获取上面的输入情况
		for (var i = 0;i < $('.inputtip').length; i++) {
			if ($('.inputtip')[i].getAttribute('status') == '1') {
				judge++;
			}
		}
		//如果4个判断条件都满足,提交保存,否则禁止提交
		if (judge == 4) {
			$('.select').prop('disabled', false);
			$.ajax({
				type:'POST',
				url:"{:url('user/editUser')}",
				data:$(this).serialize() + '&id=' + {$res.id},
				success(res) {
					if (res == 1) {
						//成功刷新原窗口并关闭弹窗
						var index = parent.layer.getFrameIndex(window.name);
						parent.location.reload();
						parent.layer.close(index);
					} else {
						alert('新建失败');
					}
				}
			});
		} else {
			$('#submit').addClass('disabled');
		}
		return false;
	});
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
